.blokolor {
width: 150px;
height: 40px;
dusplay: block;
background-color: black;

background: rgba(0,255,26,1);
background: -moz-linear-gradient(top, rgba(0,255,26,1) 0%, rgba(44,99,40,1) 15%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(44,99,40,1) 85%, rgba(0,255,26,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,255,26,1)), color-stop(15%, rgba(44,99,40,1)), color-stop(35%, rgba(0,0,0,1)), color-stop(65%, rgba(0,0,0,1)), color-stop(85%, rgba(44,99,40,1)), color-stop(100%, rgba(0,255,26,1)));
 background: -webkit-linear-gradient(top, rgba(0,255,26,1) 0%, rgba(44,99,40,1) 15%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(44,99,40,1) 85%, rgba(0,255,26,1) 100%);
 background: -o-linear-gradient(top, rgba(0,255,26,1) 0%, rgba(44,99,40,1) 15%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(44,99,40,1) 85%, rgba(0,255,26,1) 100%);
 background: -ms-linear-gradient(top, rgba(0,255,26,1) 0%, rgba(44,99,40,1) 15%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(44,99,40,1) 85%, rgba(0,255,26,1) 100%);
 background: linear-gradient(to bottom, rgba(0,255,26,1) 0%, rgba(44,99,40,1) 15%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(44,99,40,1) 85%, rgba(0,255,26,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff1a',     endColorstr='#00ff1a', GradientType=0 );

-webkit-animation: animatebuton 2s linear infinite;
-moz-animation: animatebuton 2s linear infinite; 
}
